* {
  margin: 0;
  padding: 0,

}

body {
  background: #0d1219;
  color: #fff;
}

/*TRABAJANDO CON REDES*/



.iconoss img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.iconoss {
  margin-left: 300px;
  margin-top: -50px;
}

/*TRABAJANDO CON EL HEADER*/

header h2 {
  font-size: 35px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .container-header {
  margin-right: 50px;
  margin-left: 50px;
  background: #141f2d;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

header .header-img img {
  padding: 4px;
  width: 52px;
  height: 55px;
  margin-top: 5px;
}

header .danielsuarez {
  display: inline-block;
  margin-left: 60px;
  margin-top: -55px;

}

header nav {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-left: 450px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: -30px;
}

header nav a:hover {
  color: #C9C95E;
}

/*TRABAJANDO CON EL CUERPO DEL POST*/

.contenedor-sub {
  margin-left: 50px;
  margin-right: 50px;
}